{% liquid 
  assign background = section.settings.background
  assign background_gradient = section.settings.background_gradient
%}

<style>
  #shopify-section-{{ section.id }} {
    padding-block-start: var(--spacing-4);
    padding-block-end: var(--spacing-4);
  }

  #shopify-section-{{ section.id }} .title {
    font-size: 20px;
    font-weight: 700;
  }

  #shopify-section-{{ section.id }} .description {
    font-size: 40px;
    font-weight: 700;
  }

  #shopify-section-{{ section.id }} .contact__form__section {
    padding-inline-start: var(--spacing-12);
    padding-inline-end: var(--spacing-12);
    padding-block-start: var(--spacing-10);
    padding-block-end: var(--spacing-10);
    background: {{ background }} | 'gray';
    border-radius: 10px
  }
</style>
  
<div class="contact" {% render 'section-properties' %}>
  <div class="container">
    <div class="contact__wrapper">
      <h4 class="title">{{ section.settings.title }}</h4>
      <h1 class="description">{{ section.settings.description }}</h1>

      {%- form 'contact', class: 'form' -%}
        {%- if section.blocks.size > 0 -%}
          <div class="contact__block-list empty:hidden contact__form__section">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'text' -%}
                  {%- render 'input', name: block.settings.name, label: block.settings.name, required: block.settings.required -%}
                <br />
                {%- when 'select' -%}
                  {%- assign values = block.settings.values | split: ',' -%}
                  {%- capture select_options -%}
                    {%- for value in values -%}
                      <option value="{{ value }}">{{ value }}</option>
                    {%- endfor -%}
                  {%- endcapture -%}
                  {%- render 'select', name: block.settings.name, label: block.settings.name , options: select_options -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        {%- endif -%}
        <div class="justify-self-start">
          {%- render 'button', content: 'Send message', type: 'submit', size: 'xl' -%}
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact",
  "class": "shopify-section--contact",
  "tag": "section",
  "blocks": [
    {
      "type": "text",
      "name": "Text field",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Custom field"
        },
        {
          "type": "checkbox",
          "id": "use_long_text",
          "label": "Use long text"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required"
        }
      ]
    },
    {
      "type": "select",
      "name": "Dropdown",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Custom field"
        },
        {
          "type": "text",
          "id": "values",
          "label": "Values",
          "default": "value 1, value 2, value 3",
          "info": "Separate each value by a comma."
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Subheading",
      "default": "Contact"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Section Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    },
    {
      "type": "header",
      "content": "Contact Block Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "contact_block_background",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "contact_block_text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "contact_block_button_background",
      "label": "Button background"
    },
    {
      "type": "color",
      "id": "contact_block_button_text",
      "label": "Button text"
    }
  ],
  "presets": [
    {
      "name": "Contact",
      "settings": {
        "title": "Contact Us",
        "description": "Do you have any question?"
      }
    }
  ]
}
{% endschema %}
